body {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
  background-color: #EEF1FF;
  color: #3F3B6D;
  text-align: center;

}

h1 {
  font-size: 32px;
  color: #EEF1FF;
  background-color: #AAC4FF;
  line-height: 67px;
  border-radius: 13px;
}

h2 {
  color: #EEF1FF;
  background-color: #AAC4FF;
  font-size: 22px;
  line-height: 42px;
  border-radius: 13px;
}

a {
  text-decoration: none;
  background-color: whitesmoke;
  color: #B1B2FF;
  border: 2px solid;
  border-radius: 9px;
  padding: 2px 22px;
  font-weight: bold;
}

img {
  border-radius: 42px;
  border: 1px solid #b3afaf;
  box-shadow: 0px 4px 16px;
}

.container {
  margin: 40px 40px;
}

.card {
  margin: 30px 60px;
  border-radius: 14px;
  box-shadow: 0px 4px 16px rgba(0 0 0 /7%);
  padding: 0px 0px 17px;
}


.list-inline > li {
  display: inline-block;
  padding: 3px 50px;
  font-size: 49px;
  margin: 22px auto auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
